@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    text-align: center;
    margin-left: 369px;
}

.sun_moon {
    display: flex;
}


.moon {
    width: 65px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: black;
    color: gray;
    border-radius: 25px;
}

.sun {
    width: 65px;
    height: 45px;
    border-radius: 20.5px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #000000;
    color: rgba(191, 127, 4, 1);
    z-index: 1;
    border:none;
}

.submit {
    width: 125px;
    height: 43px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(107, 33, 168, 1);
    color: rgba(250, 250, 250, 1);
    border: none;
    margin-left: 60px;
}

.header {
    display: flex;
    margin-top: 50px;
    gap: 2px;
}

.hero_left {
    width: 625px;
    height: 651px;
    background-color: rgba(244, 244, 245, 1);
    border-radius: 5px;
}

.hero_right {
    width: 625px;
    height: 651px;
    background-color: rgba(244, 244, 245, 1);
    border-radius: 5px;
}

.img {
    display: flex;
    position: relative;
    bottom: 200px;
}

.person_Image {
    width: 482px;
    height: 382px;
    left: 200px;
    position: relative;
    z-index: 1;
    bottom: 32px;
}

.background_Image {
    width: 400px;
    height: 682px;
    position: relative;
    bottom: 300px;
    right: 152px;
}

.title {
    font-family: Poppins;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-top: 80px;
}

.text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.27px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 60px;
}

.img_2 {
    display: flex;
    position: relative;
    bottom: 200px;
}

.person_Image_2 {
    width: 482px;
    height: 382px;
    left: 200px;
    position: relative;
    z-index: 1;
    bottom: 40px;
}

.background_Image_2 {
    width: 400px;
    height: 682px;
    position: relative;
    right: 152px;
    bottom: 315px;
}

.title_2 {
    font-family: Poppins;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-top: 80px;
}

.text_2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.27px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 60px;
}